body, html {
  // This implements sticky footer, by making the main content extend as needed.
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1;
  }

  .icon {
    text-decoration: none;
  }
  .navbar-brand {
    .icon {
      margin: 0;
      width: auto;
    }
  }

  footer {
    // Our main content spreads a bit too close from the footer.
    margin-top: 10px;
    .ui.segment {
      .column.footer-links {
        .ui.list {
          .item:first-child {
            padding-left: 0px;
          }
        }
        a {
          color: black;
        }
        display: flex;
        flex-direction: column;
      }
    }
  }
}
